/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 100vw;
  max-block-size: 100vh;
  display: grid;
  justify-items: center;
  font-family: var(--font-family-variable), sans-serif;
  font-variation-settings: 'wght' var(--wdth-text), 'slnt' 0;
  background-color: var(--background-color);
  color: var(--color);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-size: cover;
  line-height: 1;
}

.header,
.main__list-item {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}


.header {
  margin: 100px 0;
  inline-size: clamp(375px, 49%, 700px);
  font-family: var(--font-family), fantasy;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  padding: 136px 0 25px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-bottom: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 12px;
  font-size: 14px;
  padding-left: 12px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.theme-menu__button,
.button,
.card__icon-button {
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -12px;
  width: 14px;
  height: 14px;
  opacity: 0.6;
  animation: aside 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover,
.theme-menu__button:focus,
.theme-menu__button:disabled {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  block-size: 2px;
  inline-size: 100%;
  background-color: var(--accent-color);
  opacity: 0.6;
  scale: 0 1;
  transition: scale 0.3s ease;
  transform-origin: 0 0;
}

.theme-menu__button:focus-visible::after {
  scale: 1 1;
}

.main {
  inline-size: clamp(375px, 49%, 700px);
}

.main__list {
  display: grid;
  gap: 52px;
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--wdth-title), 'slnt' 0;
  line-height: 1.21;
  padding: 3px 12px;
  border-bottom: 2px solid var(--accent-color);
}

.card__image {
  position: relative;
}

.image {
  inline-size: 100%;
  max-block-size: 10%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.grayscale {
  filter: grayscale(0.9);
}

.blur {
  filter: blur(0.7rem)
}

.opacity {
  filter: opacity(0.5);
}

.invert {
  filter: invert(0.8);
}

.saturate {
  filter: saturate(2) blur(0.1rem);
}

.sepia {
  filter: sepia(50%) opacity(0.8);
}

.hue-rotate {
  filter: hue-rotate(310deg);
}

.label {
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--font-family), fantasy;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--accent-color);
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow: 
    1px 0 var(--text-shadow),
    -1px 0 var(--text-shadow),
    0 1px var(--text-shadow),
    0 -1px var(--text-shadow);
}

.card__description {
  display: grid;
  gap: 25px;
  padding: 25px;
  border-top: 2px solid var(--accent-color);
}

.text {
  font-size: 18px;
  line-height: calc(21 / 18);
}

.text:nth-child(2) {
  padding-top: 2px;
}

.card_button {
  display: flex;
  justify-self: end;
  gap: 5.5px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
  block-size: 38px;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.button {
  border: 2px solid var(--accent-color);
  font-family: var(--font-family), fantasy;
  background-color: var(--background-color);
  font-size: 14px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  mix-blend-mode: difference;
  color: var(--color-inversion);
}

.card__like-button::first-letter,
.button__text:first-letter {
  text-transform: uppercase;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  align-self: end;
}

.card__like-button,
.dialog .button {
  line-height: 0.9;
  padding: 12px 0;
}

.like-icon {
  width: 39px;
  height: auto;
  fill: var(--accent-color);
  transform-origin: center;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .main-body {
  fill: var(--color-contour);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:hover .core {
  fill: var(--color-contour);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--color-sparks);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--color-sparks);
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--color-contour);
  transition: fill 0.1s linear; 
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .core {
  fill: var(--color-sparks);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--color-sparks);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--color-sparks);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: like-scale 0.3s 0.1s 1 ease-in alternate;
}

.heart {
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  fill: var(--color-sparks);
  animation: opacity 0.3s 0.3s 1 ease-in alternate;
}

.footer {
  padding: 50px 0 103px;
}

.footer__button {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 15px 21px 15px 19px;
}

.footer__svg {
  width: 21px;
  height: auto;
  color: var(--color-inversion);
  mix-blend-mode: difference;
}

.dialog {
  inline-size: clamp(341px, 24.8%, 357px);
  margin: auto;
  padding: 30px;
  border: 2px solid var(--accent-color);
  color: var(--color);
  font-family: var(--font-family), fantasy;
  background-color: var(--background-color);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__description {
  display: flex;
  gap: 12px;
  padding-bottom: 30px;
}

.dialog__description .footer__svg {
  width: 39px;
  height: auto;
}

.dialog .button {
  inline-size: 100%;
  text-transform: uppercase;
}

.dialog__description-text {
  max-inline-size: 234px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@supports((text-stroke: 1px var(--text-shadow)) or (-webkit-text-stroke: 1px var(--text-shadow))) {
  .label {
    -webkit-text-stroke: 2px var(--text-shadow);
    text-stroke: 1px var(--text-shadow);
    text-shadow: none;
  }
}

@media (width <= 425px) {
  .header,
  .main {
    inline-size: 100vw;
  }

  .footer__button {
    display: grid;
    justify-items: center;
  }

  .footer__svg {
    width: 28px;
  }
}

@media (width <= 375px) {
  .page {
    justify-items: stretch;
  }

  .header {
    padding: 120px 0 25px;
  }

  .header__logo {
    font-size: clamp(2.5rem, -0.7727rem + 16.3636vw, 3.0625rem);
  }

  .footer {
    padding: 52px 0 100px;
  }

  .footer__button {
    margin-top: 52px;
  }
}